{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>LIT Review</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
	</head>

	<body class="bg-neutral-800 text-gray-100">
		{% block content%}{% endblock content %}
	</body>
</html>
