<nav class="flex items-center w-full h-12 px-8 bg-neutral-900 md:px-16">
    <div class="flex items-center mx-auto font-bold cursor-default gap-x-1 group">
        <span class="text-blue-600 transition-colors duration-300 group-hover:text-gray-100">LIT</span>
        <span class="transition-colors duration-300 group-hover:text-purple-600">Reviews</span>
    </div>
    <div class="flex items-center gap-x-2">
        <a href="{% url 'index' %}" class="flex items-center px-2 py-1 transition-all duration-300 rounded cursor-pointer gap-x-2 bg-gradient-to-r hover:from-purple-700 hover:to-blue-600">
            <i class="fa-solid fa-home"></i>
            <span class="hidden text-sm font-semibold md:block">Flux</span>
        </a>
        <a href="#" class="flex items-center px-2 py-1 transition-all duration-300 rounded cursor-pointer gap-x-2 bg-gradient-to-r hover:from-purple-700 hover:to-blue-600">
            <i class="fa-solid fa-compass"></i>
            <span class="hidden text-sm font-semibold md:block">Posts</span>
        </a>
        <a href="#" class="flex items-center px-2 py-1 transition-all duration-300 rounded cursor-pointer gap-x-2 bg-gradient-to-r hover:from-purple-700 hover:to-blue-600">
            <i class="fa-solid fa-star"></i>
            <span class="hidden text-sm font-semibold md:block">Abonnements</span>
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="flex items-center px-2 py-1 transition-all duration-300 rounded cursor-pointer gap-x-2 hover:bg-gray-100 hover:text-purple-700">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="hidden text-sm font-semibold md:block bg-gradient-to-r from-purple-700 to-blue-600 bg-clip-text hover:text-transparent">Se deconnecter</span>
        </a>
        {% else %}
        <a href="{% url 'login' %}?to={{ request.path }}" class="flex items-center px-2 py-1 transition-all duration-300 rounded cursor-pointer gap-x-2 hover:bg-gray-100 hover:text-purple-700">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span class="hidden text-sm font-semibold md:block bg-gradient-to-r from-purple-700 to-blue-600 bg-clip-text hover:text-transparent">Se connecter</span>
        </a>
        {% endif %}
    </div>
</nav>