<div class="flex flex-col px-4 py-2 rounded bg-neutral-900 gap-y-2">
  <div class="flex items-center justify-between">
    {% if post.user == request.user %}
    <span class="text-sm font-semibold">
      Vous avez publié une critique
    </span>
    {% else %}
    <span class="text-sm font-semibold">
      {{ post.user }} a publié une critique
    </span>
    {% endif %}
    <span>{{post.time_created|date:"H:i, j E Y"}}</span>
  </div>
  <div class="flex items-center gap-x-4">
    <h3 class="text-lg font-semibold">{{post.headline}}</h3>
    <div class="flex gap-x-1">
      {% for i in '12345' %}
      <i class="fa-solid fa-star {% if post.rating >= i|add:"0" %} text-yellow-400{% endif %}"></i>
      {% endfor %}
    </div>
  </div>
  <p>{{post.body}}</p>
  <div class="flex flex-col px-4 py-2 mx-4 rounded bg-neutral-800 gap-y-2">
    <h5>Ticket - {{post.ticket.user.username}}</h5>
    <h5>{{post.ticket.title}}</h5>
    {% if post.ticket.image %}
    <img src="{{post.ticket.image.url}}" class="object-contain w-max h-52" />
    {% endif %}
  </div>
  <div class="flex items-end justify-end w-full h-full gap-x-2">
    {% if post.user == request.user %}
    <a
    href="{% url 'delete_review' post.id %}"
    class="px-8 py-1 transition-all duration-300 bg-red-500 rounded hover:bg-red-700 hover:text-gray-300 h-min w-max"
    >
      <i class="fa-solid fa-trash"></i>
    </a>
    <a
    href="{% url 'edit_review' post.id %}"
    class="px-8 py-1 transition-all duration-300 rounded bg-gradient-to-r from-blue-600 to-purple-700 hover:opacity-80 h-min w-max"
    >
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    {% endif %}
  </div>
</div>