{% extends '_base.html' %} {% block content %} {% include '_navbar.html' %}
<div class="flex flex-col w-3/4 py-4 mx-auto md:w-2/3 gap-y-4">
  <div class="flex flex-col w-full gap-y-2">
    <h3 class="font-semibold uppercase">Créer un ticket</h3>
    <div class="h-0.5 bg-white w-full"></div>
    <form
      method="post"
      class="flex flex-col gap-y-2"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <label for="title" class="text-sm font-semibold uppercase">Titre</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Titre"
        value="{{ ticket.title}}"
        required
        class="w-full transition-all duration-300 bg-transparent border-2 border-white rounded hover:border-purple-500 focus:ring-0 focus:border-white peer"
      />
      <label for="description" class="text-sm font-semibold uppercase"
        >Description</label
      >
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        required
        placeholder="Description"
        class="w-full transition-all duration-300 bg-transparent border-2 border-white rounded hover:border-purple-500 focus:ring-0 focus:border-white peer"
      >{{ticket.description}}</textarea>
      {% if ticket.image and ticket.image.url %}
      <p class="text-sm font-semibold uppercase">Ancienne image</p>
      <img src="{{ticket.image.url}}" class="object-contain h-12 w-min"/>
      {% endif %}
      <label for="image" class="text-sm font-semibold uppercase">Image</label>
      <input
        type="file"
        name="image"
        id="image"
        accept="image/*"
        class="px-4 py-1 transition-all duration-300 bg-transparent border-2 border-white rounded cursor-pointer file:hidden w-min hover:border-purple-500 focus:ring-0 focus:border-white peer"
      />
      <button
        class="flex items-center justify-center px-12 py-2 ml-auto text-sm font-semibold text-center uppercase transition-all duration-300 bg-blue-700 rounded w-max hover:bg-blue-500"
      >
      {% if ticket %}Editer{%else%}Créer{% endif %}
      </button>
    </form>
  </div>
</div>
{% endblock content %}
