{% extends '_base.html' %} {% block content %} {% include '_navbar.html' %}
<div class="w-2/3 py-4 mx-auto">
  <div class="grid w-full grid-cols-2 gap-x-4">
    <a
      href="#"
      class="flex items-center justify-center w-full py-2 text-sm font-semibold text-center uppercase transition-all duration-300 bg-purple-700 rounded hover:bg-purple-500"
      >Demander une critique</a
    >
    <a
      href="#"
      class="flex items-center justify-center w-full py-2 text-sm font-semibold text-center uppercase transition-all duration-300 bg-blue-700 rounded hover:bg-blue-500"
      >Creer une critique</a
    >
  </div>
</div>
{% endblock content %}
