{% extends '_base.html' %} {% block content %} {% include '_navbar.html' %}
<div class="w-2/3 py-4 mx-auto">
  <div class="flex flex-col mt-4 gap-y-4">
    {% for post in posts %}
      {% if post.content_type == 'TICKET' %} 
        {% include '_ticket.html' %}
      {% elif post.content_type == 'REVIEW' %}
        {% include '_review.html' %}
      {% endif %}
    {% empty %}
    <h4 class="font-semibold text-center uppercase">Rien a voir <i class="fa-solid fa-face-sad-cry"></i></h4>  
    {% endfor %}
  </div>
</div>
{% endblock content %}
