{% extends '_base.html' %} {% block content %} {% include '_navbar.html' %}
<div class="flex flex-col items-center justify-center w-full h-full">
  <form
    method="post"
    class="flex flex-col w-full px-8 gap-y-12 md:px-0 md:w-1/2 lg:w-1/3"
  >
    {% csrf_token %}
    <div class="relative flex items-center">
      <input
        placeholder="‎"
        type="text"
        name="username"
        id="username"
        required
        class="w-full transition-all duration-300 bg-transparent border-2 border-white rounded hover:border-purple-500 focus:ring-0 focus:border-white peer"
      />
      <label
        for="username"
        class="absolute text-sm font-semibold text-transparent uppercase transition-all duration-300 -translate-y-10 pointer-events-none bg-gradient-to-r from-purple-400 to-blue-400 bg-clip-text peer-focus:px-0 peer-placeholder-shown:px-4 peer-placeholder-shown:text-white/80 peer-focus:text-transparent peer-focus:-translate-y-10 peer-placeholder-shown:translate-y-0"
        >Nom d'utilisateur</label
      >
    </div>
    <div class="relative flex items-center">
      <input
        placeholder="‎"
        type="text"
        name="email"
        id="email"
        required
        class="w-full transition-all duration-300 bg-transparent border-2 border-white rounded hover:border-purple-500 focus:ring-0 focus:border-white peer"
      />
      <label
        for="email"
        class="absolute text-sm font-semibold text-transparent uppercase transition-all duration-300 -translate-y-10 pointer-events-none bg-gradient-to-r from-purple-400 to-blue-400 bg-clip-text peer-focus:px-0 peer-placeholder-shown:px-4 peer-placeholder-shown:text-white/80 peer-focus:text-transparent peer-focus:-translate-y-10 peer-placeholder-shown:translate-y-0"
        >Courriel</label
      >
    </div>
    <div class="relative flex items-center">
      <input
        placeholder="‎"
        type="password"
        name="password"
        id="password"
        required
        class="w-full transition-all duration-300 bg-transparent border-2 border-white rounded hover:border-blue-500 focus:ring-0 focus:border-white peer"
      />
      <label
        for="password"
        class="absolute text-sm font-semibold text-transparent uppercase transition-all duration-300 -translate-y-10 pointer-events-none bg-gradient-to-r from-purple-400 to-blue-400 bg-clip-text peer-focus:px-0 peer-placeholder-shown:px-4 peer-placeholder-shown:text-white/80 peer-focus:text-transparent peer-focus:-translate-y-10 peer-placeholder-shown:translate-y-0"
        >Mot de passe</label
      >
    </div>
    <div class="relative flex items-center">
      <input
        placeholder="‎"
        type="password"
        name="confirm_password"
        id="confirm_password"
        required
        class="w-full transition-all duration-300 bg-transparent border-2 border-white rounded hover:border-blue-500 focus:ring-0 focus:border-white peer"
      />
      <label
        for="confirm_password"
        class="absolute text-sm font-semibold text-transparent uppercase transition-all duration-300 -translate-y-10 pointer-events-none bg-gradient-to-r from-purple-400 to-blue-400 bg-clip-text peer-focus:px-0 peer-placeholder-shown:px-4 peer-placeholder-shown:text-white/80 peer-focus:text-transparent peer-focus:-translate-y-10 peer-placeholder-shown:translate-y-0"
        >Confirmez votre mot de passe</label
      >
    </div>
    {% if error %}
    <div
      id="error"
      class="flex items-center justify-between w-full px-4 py-2 -my-8 transition-all duration-300 bg-red-500 rounded"
    >
      <span>{{error}}</span>
      <button type="button" id="close_error">
        <i class="cursor-pointer fa-solid fa-multiply"></i>
      </button>
    </div>
    {% endif %}
    <button
      class="flex items-center justify-center w-full py-2 text-sm font-semibold uppercase transition-all duration-300 bg-purple-700 rounded hover:bg-purple-500"
    >
      S'inscrire
    </button>
  </form>
</div>
{% endblock content %} {% block javascript %}
<script>
  const error = document.getElementById("error");
  const close_error = document.getElementById("close_error");

  if (!close_error)
    close_error.onclick = (e) => {
      e.preventDefault();

      error.classList.add("opacity-0");
      error.classList.add("-translate-x-52");

      setTimeout(() => {
        error.remove();
      }, 300);
    };
</script>
{% endblock javascript %}
